h1 {color: white; }
h1 {text-decoration: underline;}
h1{text-align: center;}
h2 {color: white; }
h2 {text-align: center;}
h3 {color: white;}
h3 {text-align: center;}
p  {color: white; }
p {text-align: center;}
ul {list-style-type: square;}
ul {color: white; }